blockquote {
  border-left: 2px solid #888;
  padding-left: 2em;
  margin-left: 0;
}

#menu {
  width: 220px;
}

#layout {
  padding-left: 220px;
}

.content .post-meta {
  margin-top: .5em;
}

#menu .brand {
  padding: 10px 10px 0 10px;
}

#menu .brand img {
  width: 200px;
}

a, a:visited, a:hover, a:active, a:focus {
  color: #1893F4;
}

.figures-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.figures-list > a {
  max-width: 50%;
}

.figures-list figure {
  border: 1px solid #eee;
}

.figures-list figcaption {
  text-align: center;
}

.figures-list a, .figures-list a:hover, .figures-list a:active, .figures-list a:visited {
  text-decoration: none !important;
}

.figures-list img {
  width: 100%;
}